body {
  height: 100vh;
  width: 100vw;
  font: 12px 'Lato', sans-serif;
}
.landingimage{
  background: url('../landingimg.jpg')no-repeat left top fixed;
  background-size: cover;
  background-color: rgb(240, 240, 240);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1pt;
}
.landingdiv {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.logobox {
  width: 100px;
  height: 35px;
  margin-top: 50px;
  border: 2px solid #6ebedd;
  position: relative;
  border-radius: 3px;
}

.logotext {
  font-size: 24px;
  position: absolute;
  top: -17px;
  left: 11px;
  text-align: center;
  color: #6ebedd;
  font-weight: 300;
}


.mainsearch {
  width: 250px;
  height: 17px;
  font-size: 24px;
  padding: 10px 0;
  padding-bottom: 13px;
  color: white;
  border-style: solid;
  border-width: 0px;
  background-color: #6ebedd;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 5px;
}

.mainsearch:focus {
  outline: none;
}

.past-searches{
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1px;


}

.dashimg{
  /*background-color: rgb(240, 240, 240);*/
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1pt;
}

.profileheader {
padding-left: 10px;
padding-top: 5px;
}

.username {
  font-size: 28px;
}

.screenname {
padding-bottom: 5px;
font-size: 16px;
}


.dashsearch {
float: right;
  width: 120px;
  height: 10px;
  font-size: 18px;
  padding: 10px 0;
  margin: 10px;
  margin-right: 20px;
  padding-bottom: 13px;
  color: white;
  border-style: solid;
  border-width: 0px;
  background-color: #6ebedd;
  border-radius: 5px;
  text-align: center;
}


.dashsearch:focus{
  outline: none;
}


.profiledetails{
  padding-left: 10px;
  font-size: 13px;
}

.showMoreButton {
    /*float: left;*/
    width: 150px;
    height: 10px;
    font-size: 16px;
    padding: 5px 0;
    margin: 10px;
    margin-right: 20px;
    padding-bottom: 25px;
    color: #4a8196;
    border-style: solid;
    border-width: 0px;
    background-color: #d3ecf5;
    border-radius: 5px;
    text-align: center;
}

.showMoreButton:hover{
  background-color: #6ebedd;
  color: white;
}
.showMoreButton:focus{
  outline: none;
}


input {
    -webkit-border-radius: 0;
}
::-webkit-input-placeholder {
   color: white;
   font-weight: 300;
  opacity: .7;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
   opacity: .7;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   opacity: .7;
}

:-ms-input-placeholder {
   color: white;
   opacity: .7;
}








/* Styles for d3 bar and line chart */
.stackedBarChartDiv {
  position: relative;
}

.axis text {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 12pt;
}
.axis .label {
  font-size: 12px;
}

.color-legend text {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 12pt;
}

path {
    stroke: #6ebedd;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* Tooltip that displays the number for a given bar */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.barchartxlabel{
display: flex;
justify-content: center;
padding: 10px;
}

.x-label-older{
  font-size: 14px;
  margin-right: 50px

}

.x-label-newer{
  font-size: 14px;

}

.x-label-tweets{
  font-size: 20px;
  margin-right: 50px;
}
/* Style for the tweet that displays when clicking on barchart*/
.tweettip {
  background: #f5fcff;
  box-shadow: 0 0 1px #999999;
  color: #333;
  display: none;
  font-size: 14px;
  padding: 10px;
  /*position: absolute;*/
  text-align: center;
  /*top: 400px;*/
  /*width: 100vw;*/
  /*z-index: 10;*/
}
