<br>
<br>


<stacked-bar-chart-directive new-data="twitterData" ng-if="twitterData.length"></stacked-bar-chart-directive>

<div ng-if="followersData.followersByDate.length < 2">
  <h1>We've recently started tracking this accounts followers. Please check back soon when we've collected more data!</h1>
</div>
<followers-directive new-followers-data="followersData" ng-if="followersData.followersByDate.length >= 2"></followers-directive>


<div ng-if="!twitterData.length">
  <h1>please search for a twitter user to see data</h1>
</div>




<!-- <div ng-repeat="tweet in latestTweetsData">
<br>
{{barChartXCounter - $index}} Tweet: {{tweet.text}}
<br>
Retweets: {{tweet.retweet_count}}
<br>
Favorites: {{tweet.favorite_count}}
<br>
Tweeted at: {{tweet.created_at | date: 'short' }}
<br>
ID: {{tweet.id}}
<br>
Followers: {{tweet.user.followers_count}}
<br>
</div> -->
