<br>
<br>


<stacked-bar-chart-directive new-data="twitterData" ng-if="twitterData.length"></stacked-bar-chart-directive>

<followers-directive new-followers-data="followersData" ng-if="twitterData.length"></followers-directive>



<!-- <div ng-repeat="tweet in latestTweetsData">
<br>
{{barChartXCounter - $index}} Tweet: {{tweet.text}}
<br>
Retweets: {{tweet.retweet_count}}
<br>
Favorites: {{tweet.favorite_count}}
<br>
Tweeted at: {{tweet.created_at | date: 'short' }}
<br>
ID: {{tweet.id}}
<br>
Followers: {{tweet.user.followers_count}}
<br>
</div> -->
